<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="OracleDb" connectionString="Data Source=DB_SistemaVentas;User Id=system;Password=kobe2000;Integrated Security=no;" providerName="Oracle.DataAccess.Client" />
	</connectionStrings>
</configuration>